@use '../../../variables';

.carteOffre {
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
  border: none;
  background-color: variables.$blanc;
  font-family: variables.$font-family;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 48px variables.$noirOpacity !important;
  }

  .conteneurImage {
    height: 220px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  }

  .badge {
    font-size: 12px;
    font-weight: variables.$fontStyleRegular;
    box-shadow: 0 4px 8px rgba(variables.$noir, 0.2);
    padding: 8px 16px;
    border: none;
  }

  .etiquetteVente {
    background-color: variables.$orange !important;
    color: variables.$blanc;
  }

  .etiquetteLocation {
    background-color: variables.$bleuMarine !important;
    color: variables.$blanc;
  }

  .titreOffre {
    font-size: 20px;
    font-weight: variables.$fontStyleBlack;
    color: variables.$bleuMarine;
  }

  .prixOffre {
    font-size: 20px;
    font-weight: variables.$fontStyleBlack;
    color: variables.$orange;
  }

  .btnDetail {
    padding: 10px 0;
    font-size: 14px;
    font-weight: variables.$fontStyleRegular;
    color: variables.$bleuMarine;
    border: 2px solid variables.$bleuMarine;
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
      background-color: variables.$bleuMarine;
      color: variables.$blanc;
    }
  }
}

.zoneVide {
  padding: 80px 0;
  font-family: variables.$font-family;

}